ros-kinetic-tmc-desktop-full (siehe hsr Doku)
https://github.com/ros/kdl_parser.git -> branch zu indigo wechseln pr2_arm_kinematics erstmal rausschmeissen
https://github.com/Vanessa-rin/hsr_description.git  --> wichtig urdf-fix branch
https://docs.hsr.io/manual_en/howto/pc_install.html#id2  6.21
