<?xml version="1.0"?>
<launch>
  <include file="$(find hsrb_gazebo_launch)/launch/include/hsrb_gazebo_common.xml" >
    <arg name="map" value="$(find planning_simulator)/world/map.yaml" />
    <arg name="world_name" value="$(find planning_simulator)/world/hsrb_test_world.world" />
    <arg name="robot_pos" value="-x 0 -y 0 -z 0 -Y 0" />
    <arg name="use_laser_odom" value="false" />
  </include>
  <include file="$(find rs_perception)/launch/hsr_demo_perception.launch"/>


  <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
    <arg name="time" value="15" />
    <arg name="pkg" value="planning_simulator" />
    <arg name="file" value="start_demo.launch" />
  </include>


</launch>
