<?xml version="1.0"?>
<launch>
  <!-- <arg name ="node_start_delay" default="10.0"/> -->
  <node pkg="planning_simulator" name="move.py" type="move.py"/> 
  <!-- launch-prefix="bash -c 'sleep $(arg node_start_delay);$0 $@'"/> -->
  <node pkg="planning_simulator" name="manipulationdemo.py" type="manipulationdemo.py"/>
</launch>
