<?xml version="1.0"?>
<launch>
  <include file="$(find planning_simulator)/launch/hsrb_test_world.launch"/>
  <include file="$(find rs_perception)/launch/hsr_demo_perception.launch"/>
 <!--
  <arg name ="node_start_delay" default="10.0"/>
  <node pkg="planning_simulator" name="move.py" type="move.py" launch-prefix="bash -c 'sleep $(arg node_start_delay);$0 $@'"/>
 -->
</launch>
